<a href="https://colab.research.google.com/github/srijita1406/Machine-Learning-Projects/blob/main/Determining_how_different_parameters_affect_income_of_a_person.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('V1_new.csv')

In [4]:
df.shape

(20000, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             20000 non-null  int64
 1   workclass       20000 non-null  object
 2   fnlwgt          20000 non-null  int64
 3   education       20000 non-null  object
 4   education-num   20000 non-null  int64
 5   marital-status  20000 non-null  object
 6   occupation      20000 non-null  object
 7   relationship    20000 non-null  object
 8   race            20000 non-null  object
 9   sex             20000 non-null  object
 10  capital-gain    20000 non-null  int64
 11  capital-loss    20000 non-null  int64
 12  hours-per-week  20000 non-null  int64
 13  native-country  20000 non-null  object
 14  IncomeGroup     20000 non-null  object
dtypes: int64(6), object(9)
memory usage: 2.3+ MB

In [6]:
df.head(100)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,IncomeGroup
0,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
1,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K
2,25,Private,102476,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,27828,0,50,United-States,>50K
3,33,Private,511517,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
4,36,Private,292570,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,64,?,200017,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,20,United-States,<=50K
96,19,?,192773,Some-college,10,Never-married,?,Own-child,White,Female,0,0,35,United-States,<=50K
97,75,?,164849,9th,5,Married-civ-spouse,?,Husband,Black,Male,1409,0,5,United-States,<=50K
98,28,Private,154863,Bachelors,13,Never-married,Adm-clerical,Own-child,Black,Male,0,0,35,United-States,<=50K
99,36,Self-emp-not-inc,27053,HS-grad,9,Separated,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K

In [7]:
df=df.replace(' ?',np.NaN)
df=df.replace('  ?',np.NaN)
df=df.replace('?',np.NaN)

In [8]:
df.head(100)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,IncomeGroup
0,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
1,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K
2,25,Private,102476,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,27828,0,50,United-States,>50K
3,33,Private,511517,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
4,36,Private,292570,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,64,NaN,200017,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,0,20,United-States,<=50K
96,19,NaN,192773,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,35,United-States,<=50K
97,75,NaN,164849,9th,5,Married-civ-spouse,NaN,Husband,Black,Male,1409,0,5,United-States,<=50K
98,28,Private,154863,Bachelors,13,Never-married,Adm-clerical,Own-child,Black,Male,0,0,35,United-States,<=50K
99,36,Self-emp-not-inc,27053,HS-grad,9,Separated,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K

In [9]:
df.isna().sum()

age                  0
workclass         1137
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1140
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     354
IncomeGroup          0
dtype: int64

In [10]:
(df['occupation'].isna().sum()/20000)*100

5.7

In [11]:
(df[df['IncomeGroup']==' <=50K'].count()/20000)*100

age               76.510
workclass         71.410
fnlwgt            76.510
education         76.510
education-num     76.510
marital-status    76.510
occupation        71.395
relationship      76.510
race              76.510
sex               76.510
capital-gain      76.510
capital-loss      76.510
hours-per-week    76.510
native-country    75.180
IncomeGroup       76.510
dtype: float64

In [12]:
df['age'].mean()

38.553

In [13]:
df[df['education']==' Preschool'].count()

age               32
workclass         28
fnlwgt            32
education         32
education-num     32
marital-status    32
occupation        28
relationship      32
race              32
sex               32
capital-gain      32
capital-loss      32
hours-per-week    32
native-country    31
IncomeGroup       32
dtype: int64

In [14]:
df.corr()

<ipython-input-14-2f6f6606aa2c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
age,1.000000,-0.071322,0.042720,0.082959,0.054860,0.068613
fnlwgt,-0.071322,1.000000,-0.050441,-0.009390,-0.012992,-0.018445
education-num,0.042720,-0.050441,1.000000,0.124567,0.080085,0.140452
capital-gain,0.082959,-0.009390,0.124567,1.000000,-0.031598,0.084474
capital-loss,0.054860,-0.012992,0.080085,-0.031598,1.000000,0.049945
hours-per-week,0.068613,-0.018445,0.140452,0.084474,0.049945,1.000000

In [15]:
from sklearn.impute import SimpleImputer 
X=np.array(df['occupation']).reshape(-1,1)
imputer=SimpleImputer(strategy='most_frequent')
imputer.fit(X)
X_imputed=imputer.transform(X)

In [16]:
df_imputed = pd.DataFrame(X_imputed, columns=['occupation'])
for column in df.columns:
    if column != 'occupation':
        df_imputed[column] = df[column]

In [17]:
df_imputed.head()

,occupation,age,workclass,fnlwgt,education,education-num,marital-status,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,IncomeGroup
0,Other-service,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Not-in-family,White,Female,0,0,66,United-States,<=50K
1,Other-service,18,Private,208103,11th,7,Never-married,Other-relative,White,Male,0,0,25,United-States,<=50K
2,Farming-fishing,25,Private,102476,Bachelors,13,Never-married,Own-child,White,Male,27828,0,50,United-States,>50K
3,Prof-specialty,33,Private,511517,HS-grad,9,Married-civ-spouse,Husband,White,Male,0,0,40,United-States,<=50K
4,Machine-op-inspct,36,Private,292570,11th,7,Never-married,Unmarried,White,Female,0,0,40,United-States,<=50K

In [18]:
df_imputed['occupation'].mode()

0     Prof-specialty
Name: occupation, dtype: object

In [19]:
y=df_imputed['IncomeGroup']

In [20]:
df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   occupation      20000 non-null  object
 1   age             20000 non-null  int64
 2   workclass       18863 non-null  object
 3   fnlwgt          20000 non-null  int64
 4   education       20000 non-null  object
 5   education-num   20000 non-null  int64
 6   marital-status  20000 non-null  object
 7   relationship    20000 non-null  object
 8   race            20000 non-null  object
 9   sex             20000 non-null  object
 10  capital-gain    20000 non-null  int64
 11  capital-loss    20000 non-null  int64
 12  hours-per-week  20000 non-null  int64
 13  native-country  19646 non-null  object
 14  IncomeGroup     20000 non-null  object
dtypes: int64(6), object(9)
memory usage: 2.3+ MB

In [21]:
df_imputed = df_imputed.drop('IncomeGroup', axis=1)

In [22]:
X1 = df_imputed.select_dtypes(include=['int64', 'float64'])

In [23]:
X2 = df_imputed.select_dtypes(include=['object'])

In [24]:
df_imputed.shape

(20000, 14)

In [25]:
X1.shape

(20000, 6)

In [26]:
X2.shape

(20000, 8)

In [27]:
from sklearn.preprocessing import OneHotEncoder

In [28]:
encoder = OneHotEncoder(sparse=False)
X2_encoded = encoder.fit_transform(X2)

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [29]:
X2_encoded.shape

(20000, 101)

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
scaler=StandardScaler()
X1_scaled = scaler.fit_transform(X1)

In [32]:
X1_scaled.shape

(20000, 6)

In [33]:
type(X1_scaled)

numpy.ndarray

In [34]:
type(X2_encoded)

numpy.ndarray

In [35]:
X=np.concatenate((X1_scaled,X2_encoded),axis=1)

In [36]:
X.shape

(20000, 107)

In [37]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=64)

In [38]:
y_train.shape

(16000,)

In [39]:
from sklearn.linear_model import Perceptron

In [40]:
from sklearn.metrics import accuracy_score

In [41]:
clf = Perceptron(warm_start=False)
clf.fit(X_train, y_train)

Perceptron()

In [42]:
y_pred=clf.predict(X_test)

In [43]:
accuracy=accuracy_score(y_test,y_pred)
print(accuracy)

0.81925

In [44]:
clf = Perceptron(fit_intercept=True,early_stopping=True,warm_start=False)
clf.fit(X_train, y_train)

Perceptron(early_stopping=True)

In [45]:
bias = clf.intercept_
print(bias)

[-10.]

In [46]:
from sklearn.linear_model import SGDClassifier
sgd=SGDClassifier(loss='log',penalty='l2',alpha=0.001,max_iter=10,eta0=0.01,power_t=0.0,random_state=64,warm_start=False)

In [47]:
sgd.fit(X_train,y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_stochastic_gradient.py:163: FutureWarning: The loss 'log' was deprecated in v1.1 and will be removed in version 1.3. Use `loss='log_loss'` which is equivalent.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_stochastic_gradient.py:702: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(

SGDClassifier(alpha=0.001, eta0=0.01, loss='log', max_iter=10, power_t=0.0,
              random_state=64)

In [48]:
y_pred=sgd.predict(X_test)

In [49]:
accuracy_score(y_test,y_pred)

0.84825

In [50]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import recall_score

In [51]:
lr=LogisticRegression(tol=0.001,solver='sag',max_iter=100)
lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)
recall_score(y_test,y_pred,average='macro')

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

0.7576271972412669

In [52]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

In [53]:
# Create the KNN classifier object
knn = KNeighborsClassifier(p=2, metric='minkowski')

# Define the hyperparameter grid to search over
param_grid = {'n_neighbors': [1, 3, 5, 7]}

# Create the GridSearchCV object
gcv = GridSearchCV(estimator=knn, param_grid=param_grid, scoring='accuracy', cv=4)

# Fit the GridSearchCV object to the data
gcv.fit(X_train, y_train)

# Print the best value of k and corresponding accuracy score
print("Best value of k: ", gcv.best_params_['n_neighbors'])
print("Best Accuracy Score: ", gcv.best_score_)

Best value of k:  7
Best Accuracy Score:  0.833375

In [54]:
from sklearn.tree import DecisionTreeClassifier

In [55]:
dtc=DecisionTreeClassifier(criterion='gini', splitter='best',random_state=64)
param_grid = {'max_depth': [3, 4, 5, 6], 'min_samples_leaf': [2, 4, 6, 8, 10]}
gcv = GridSearchCV(estimator=dtc,param_grid=param_grid, scoring='accuracy', cv=4)
gcv.fit(X_train, y_train)
gcv.best_score_

0.8537499999999999

In [56]:
print("Best value of k: ", gcv.best_params_['max_depth'])

Best value of k:  6

In [57]:
print("Best value of k: ", gcv.best_params_['min_samples_leaf'])

Best value of k:  10

In [58]:
clf=DecisionTreeClassifier(criterion='gini', splitter='best',max_depth=6,min_samples_leaf=10,random_state=64)
clf.fit(X_train, y_train)
# calculate the number of nodes in the decision tree
num_nodes = clf.tree_.node_count

print("Number of nodes in the decision tree:", num_nodes)

Number of nodes in the decision tree: 75

In [59]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

# define a dictionary of hyperparameters
param_grid = {'n_estimators': [5, 6, 7, 8, 9, 10]}

# create a random forest classifier object
rfc = RandomForestClassifier(random_state=42)

# create a GridSearchCV object
grid_search = GridSearchCV(estimator=rfc, param_grid=param_grid, cv=5, scoring='accuracy')

# fit the GridSearchCV object to the training data
grid_search.fit(X_train, y_train)

# obtain the best hyperparameters
best_params = grid_search.best_params_

# print out the number of trees that produces the best score
print("Number of trees that produces the best score:", best_params['n_estimators'])

Number of trees that produces the best score: 10

In [60]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import GridSearchCV

In [66]:
param_grids={'n_estimators':[10,20,30],'learning_rate':[0.5,1,2]}
ada=AdaBoostClassifier(random_state=64)
gsv=GridSearchCV(estimator=ada,param_grid=param_grids,cv=4)
gsv.fit(X_train,y_train)
gsv.best_score_

0.8565

In [67]:
gsv.best_params_['n_estimators']

30

In [70]:
from sklearn.svm import SVC
svc=SVC()
param_gridss={'kernel':('linear','rbf'),'C':[1,10]}
gscv=GridSearchCV(estimator=svc,param_grid=param_gridss)
gscv.fit(X_train,y_train)
gscv.best_params_

{'C': 1, 'kernel': 'rbf'}